<!DOCTYPE html>
<html>
    <head>
        <title> Your Cart</title>
        <style>
            body {
                background-image: url("../images/bg13.jpg");
            }
        </style>
    </head>
    <body>
        <h1><strong> <i> Your cart </i></strong></h1>
        <h1><strong><i><%=cartItems%> </i></strong></h1>
    </body>
</html>